* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  background-color: #fff;
  padding: 20px 24px;
  justify-content: space-between;
}

.tab {
  background-color: #21243d;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.navbar-items {
  display: none;
}

.logo {
  font-weight: bold;
  color: #ff6464;
}

/* 992px */
@media screen and (min-width: 700px) {
  p {
    font-size: 20px;
  }

  .main-header {
    text-align: center;
  }

  .main-header h1 {
    color: #ff6464;
  }

  .main-header img {
    position: relative;
    top: 40px;
  }

  .main-header-title {
    padding-top: 8%;
    color: #21243d;
  }

  .main-header-title span {
    font-size: 13px;
    font-weight: bold;
  }

  .projects {
    margin-top: 10%;
  }
  .projects-container-one {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }

  .projects-container-two {
    padding: 10px 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
  }

  .project-img {
    width: 100%;
    height: 100%;
  }

  .navbar-humberger {
    display: none;
  }

  .navbar-items {
    display: flex;
    padding-right: 60px;
  }

  .item {
    list-style: none;
    padding-right: 40px;
  }

  .item a:link {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }
  /* 
  .header-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 7px;
  } */
}
